<div class="h-full m-3 overflow-hidden">
    <div class="flex flex-row items-center justify-center">
        <h1 class="mat-dialog-title">Create</h1>
        <mat-icon class="ml-auto" mat-dialog-close>close</mat-icon>
    </div>
    <div class="mat-dialog-content">
        <form [formGroup]="form">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput placeholder="Placeholder">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Project Status</mat-label>
                <mat-select formControlName="status">
                  <mat-option *ngFor="let status of projectStatusList" [value]="status.id">
                    {{status.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
        </form>
    </div>
    <div class="mat-dialog-actions">
        <button mat-raised-button color="primary" (click)="save()" [disabled]="!form.valid">Submit</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </div>
</div>
