<div class="flex flex-row w-full h-64">
    <form [formGroup]="loginForm" class="flex flex-col gap-3 w-full mx-96 form login mt-20 p-4 rounded-xl">
        <h1 class="text-center">Forgot Password Here</h1>
        <div class="flex flex-col">
            <mat-form-field appearance="fill">
                <mat-label>Enter Email</mat-label>
                <input formControlName="username" matInput placeholder="Enter">
            </mat-form-field>
            <button (click)="forgotPass()" color="primary" mat-raised-button type="button" id="loginBtn"
                [disabled]="!loginForm.valid">
                Submit
            </button>

        </div>
    </form>
</div>