<div class="flex flex-row w-full h-auto">
    <form [formGroup]="confirmForm" class="flex flex-col gap-3 w-full mx-96 form login mt-20 p-4 rounded-xl">
        <h1 class="text-center">Confirm Password Here</h1>
        <div class="flex flex-col">
            <mat-form-field appearance="fill">
                <mat-label>Enter password</mat-label>
                <input formControlName="password" placeholder="password" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Confirm password</mat-label>
                <input formControlName="confirmPassword" placeholder="confirm Password" matInput [type]="hideC ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hideC = !hideC" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideC">
                    <mat-icon>{{hideC ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button (click)="confirmPassword()" color="primary" mat-raised-button type="button" id="confirmFormBtn"
                [disabled]="!confirmForm.valid">
                Submit
            </button>

        </div>
    </form>
</div>